{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Registrar Empleado{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<!---->
{% if (detalle_empleado|length) %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="/lista-de-empleados">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        INFORMACIÓN DEL PACIENTE
      </h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label for="nombre_empleado" class="form-label">
              Nombre del Paciente
            </label>
            <br />
            {{ detalle_empleado.nombre_empleado}}
          </div>
          <div class="col-md-6">
            <label for="apellido_empleado" class="form-label">
              Apellido del Paciente
            </label>
            <br />
            {{ detalle_empleado.apellido_empleado}}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="sexo_empleado" class="form-label">
              Sexo del Paciente
            </label>
            <br />
            {{ detalle_empleado.sexo_empleado}}
          </div>
          <!-- <div class="col-md-6">
            <label for="telefono_empleado" class="form-label">
              Factor 1
            </label>
            <br />
            {{ detalle_empleado.telefono_empleado}}
          </div> -->
        </div>

        <!-- <div class="row mt-2">
          <div class="col-md-6">
            <label for="email_empleado" class="form-label">
              Factor 2
            </label>
            <br />
            {{ detalle_empleado.email_empleado}}
          </div>
          <div class="col-md-6">
            <label for="profesion_empleado" class="form-label">
              Factor 3
            </label>
            <br />
            {{ detalle_empleado.profesion_empleado}}
          </div>
        </div> -->

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="salario_empleado" class="form-label">
              Peso
            </label>
            <br />
            <!--$ {{
            '{:,.0f}'.format(detalle_empleado.salario_empleado).replace(',',
            '.')}}-->
            {{ '{:,.0f}'.format(detalle_empleado.salario_empleado).replace(',', '.') }} kg
          </div>
         
            <div class="col-md-6">
            <!-- <label for="" class="form-label"> IMAGEN DEL PACIENTE </label>
            <br />
            <img
              style="width: 200px"
              src="/static/fotos_empleados/{{ detalle_empleado.foto_empleado }}"
              alt="imagen" /> -->
            </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="asfixia" class="form-label">
              Asfixia
            </label>
            <br />
            {{ detalle_empleado.asfixia }} {{ detalle_empleado.asfixia_prob }}%
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="paridad" class="form-label">
              Paridad
            </label>
            <br />
            <!-- {{ detalle_empleado.paridad}} -->
            {% if detalle_empleado.paridad == 0 %}
                Primípara
            {% elif detalle_empleado.paridad == 1 %}
                Multípara
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="visita_prenatal" class="form-label">
              Visita prenatal
            </label>
            <br />
            <!-- {{ detalle_empleado.visita_prenatal}} -->
            {% if detalle_empleado.visita_prenatal == 0 %}
                No
            {% elif detalle_empleado.visita_prenatal == 1 %}
                Si
            {% endif %}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="duracion_rotura_membrana" class="form-label">
              Duracion de Rotura de Membrana
            </label>
            <br />
            <!-- {{ detalle_empleado.duracion_rotura_membrana}} -->
            {% if detalle_empleado.duracion_rotura_membrana == 0 %}
                < 18 hrs
            {% elif detalle_empleado.duracion_rotura_membrana == 1 %}
                > 18hrs
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="parto_cesarea" class="form-label">
              Parto por cesarea
            </label>
            <br />
            <!-- {{ detalle_empleado.parto_cesarea}} -->
            {% if detalle_empleado.parto_cesarea == 0 %}
                No
            {% elif detalle_empleado.parto_cesarea == 1 %}
                Si
            {% endif %}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="edad_madre_veinte_treintacuatro" class="form-label">
              Edad de Madre entre [20-34] años
            </label>
            <br />
            <!-- {{ detalle_empleado.edad_madre_veinte_treintacuatro}} -->
            {% if detalle_empleado.edad_madre_veinte_treintacuatro == 0 %}
                No
            {% elif detalle_empleado.edad_madre_veinte_treintacuatro == 1 %}
                Si
            {% endif %}
          </div>
        </div>



        <div class="row mt-2">
          <div class="col-md-6">
            <label for="modo_entrega" class="form-label">
              Modo de entrega
            </label>
            <br />
            {% if detalle_empleado.modo_entrega == 1 %}
                AVD
            {% elif detalle_empleado.modo_entrega == 2 %}
                C/S
            {% elif detalle_empleado.modo_entrega == 3 %}
                SVD
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="condicion_parto" class="form-label">
              Condición de Parto
            </label>
            <br />
            {% if detalle_empleado.condicion_parto == 1 %}
                Inducida
            {% elif detalle_empleado.condicion_parto == 2 %}
                Espontanea
            {% elif detalle_empleado.condicion_parto == 3 %}
                Sin Labor
            {% endif %}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="duracion_parto" class="form-label">
              Duración parto
            </label>
            <br />
            {% if detalle_empleado.duracion_parto == 1 %}
                Normal
            {% elif detalle_empleado.duracion_parto == 2 %}
                Precipitado
            {% elif detalle_empleado.duracion_parto == 3 %}
                Prolongado
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="tipo_embarazo" class="form-label">
              Tipo de embarazo
            </label>
            <br />
            {% if detalle_empleado.tipo_embarazo == 1 %}
                Multiple
            {% elif detalle_empleado.tipo_embarazo == 2 %}
                Único
            {% endif %}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="sufrimiento_fetal" class="form-label">
              Sufrimiento Fetal
            </label>
            <br />
            {% if detalle_empleado.sufrimiento_fetal == 0 %}
                No
            {% elif detalle_empleado.sufrimiento_fetal == 1 %}
                Si
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="problema_cordon_umbilical" class="form-label">
              Problema de cordón umbilical
            </label>
            <br />
            {% if detalle_empleado.problema_cordon_umbilical == 0 %}
                No
            {% elif detalle_empleado.problema_cordon_umbilical == 1 %}
                Si
            {% endif %}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="poco_fluido_amniotico" class="form-label">
              Poco Fluido Amniotico
            </label>
            <br />
            {% if detalle_empleado.poco_fluido_amniotico == 0 %}
                No
            {% elif detalle_empleado.poco_fluido_amniotico == 1 %}
                Si
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="historial_aborto" class="form-label">
              Historial Aborto
            </label>
            <br />
            {% if detalle_empleado.historial_aborto == 0 %}
                No
            {% elif detalle_empleado.historial_aborto == 1 %}
                Si
            {% endif %}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="hipertension" class="form-label">
              Hipertensión
            </label>
            <br />
            {% if detalle_empleado.hipertension == 0 %}
                No
            {% elif detalle_empleado.hipertension == 1 %}
                Si
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="hemorragia_anteparto" class="form-label">
              Hemorragia Anteparto
            </label>
            <br />
            {% if detalle_empleado.hemorragia_anteparto == 0 %}
                No
            {% elif detalle_empleado.hemorragia_anteparto == 1 %}
                Si
            {% endif %}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="peso_bebe" class="form-label">
              Peso Bebé
            </label>
            <br />
            {% if detalle_empleado.peso_bebe == 1 %}
                Bebé Grande
            {% elif detalle_empleado.peso_bebe == 2 %}
                Peso Ligero
            {% elif detalle_empleado.peso_bebe == 3 %}
                Normal
            {% endif %}
          </div>
          <div class="col-md-6">
            <label for="edad_gestacional" class="form-label">
              Edad Gestacional
            </label>
            <br />
            {% if detalle_empleado.edad_gestacional == 1 %}
                Post Termino
            {% elif detalle_empleado.edad_gestacional == 2 %}
                Pre Termino
            {% elif detalle_empleado.edad_gestacional == 3 %}
                Bebé a termino
            {% endif %}
          </div>
        </div>

        



      </div>
    </div>
  </div>
</div>
{% else %}
<h2 class="text-center">
  No existe el Empleado 😭
  <hr />
</h2>
{% endif %} {% endblock %}
