{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Registrar Empleado{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">REGISTRAR PACIENTE</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="/form-registrar-empleado"
        autocomplete="off"
        enctype="multipart/form-data">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="nombre_empleado" class="form-label">
                Nombre del Paciente
              </label>
              <input
                type="text"
                name="nombre_empleado"
                class="form-control"
                required />
            </div>
            <div class="col-md-6">
              <label for="apellido_empleado" class="form-label">
                Apellido del Paciente
              </label>
              <input
                class="form-control"
                type="text"
                name="apellido_empleado"
                required />
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-6">
              <label for="profesion_empleado" class="form-label">
                Profesión
              </label>
              <input
                type="text"
                name="profesion_empleado"
                class="form-control"
                required />
            </div>
            <div class="col-md-6">
              <label for="email_empleado" class="form-label">
                Email
              </label>
              <input
                class="form-control"
                type="email"
                name="email_empleado"
                required />
            </div>
          </div> -->

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="sexo_empleado" class="form-label">
                Sexo del Paciente
              </label>
              <select
                class="form-select"
                name="sexo_empleado"
                aria-label="Default select example">
                <!-- <option selected>Seleccione</option> -->
                <option selected value="1">Masculino</option>
                <option value="2">Femenino</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="paridad" class="form-label">
                Paridad
              </label>
              <select
                class="form-select"
                name="paridad"
                aria-label="Default select example">
                <!-- <option selected>Seleccione</option> -->
                <option selected value="0">Primípara</option>
                <option value="1">Multípara</option>
              </select>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="visita_prenatal" class="form-label">
                Visita prenatal
              </label>
              <select
                class="form-select"
                name="visita_prenatal"
                aria-label="Default select example">
                <!-- <option selected>Seleccione</option> -->
                <option selected value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="duracion_rotura_membrana" class="form-label">
                Duracion de Rotura de Membrana
              </label>
              <select
                class="form-select"
                name="duracion_rotura_membrana"
                aria-label="Default select example">
                <!-- <option selected>Seleccione</option> -->
                <option selected value="0">< 18 hrs</option>
                <option value="1">> 18 hrs</option>
              </select>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="parto_cesarea" class="form-label">
                Parto por cesarea
              </label>
              <select
                class="form-select"
                name="parto_cesarea"
                aria-label="Default select example">
                <!-- <option selected>Seleccione</option> -->
                <option selected value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="edad_madre_veinte_treintacuatro" class="form-label">
                Edad de Madre entre [20-34] años
              </label>
              <select
                class="form-select"
                name="edad_madre_veinte_treintacuatro"
                aria-label="Default select example">
                <!-- <option selected>Seleccione</option> -->
                <option selected value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>
          </div>


          <div class="row mt-2">
            <div class="col-md-6">
              <label for="modo_entrega" class="form-label">
                Modo Entrega
              </label>
              <select
                class="form-select"
                name="modo_entrega"
                aria-label="Default select example">
                <option selected value="1">AVD</option>
                <option value="2">C/S</option>
                <option value="3">SVD</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="condicion_parto" class="form-label">
                Condición de parto
              </label>
              <select
                class="form-select"
                name="condicion_parto"
                aria-label="Default select example">
                <option selected value="1">Inducida</option>
                <option value="2">Espontanea</option>
                <option value="3">Sin Labor</option>
              </select>
            </div>
          </div>


          <div class="row mt-2">
            <div class="col-md-6">
              <label for="duracion_parto" class="form-label">
                Duración parto
              </label>
              <select
                class="form-select"
                name="duracion_parto"
                aria-label="Default select example">
                <option selected value="1">Normal</option>
                <option value="2">Precipitado</option>
                <option value="3">Prolongado</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="tipo_embarazo" class="form-label">
                Tipo de embarazo
              </label>
              <select
                class="form-select"
                name="tipo_embarazo"
                aria-label="Default select example">
                <option selected value="1">Multiple</option>
                <option value="2">Único</option>
              </select>
            </div>
          </div>


          <div class="row mt-2">
            <div class="col-md-6">
              <label for="sufrimiento_fetal" class="form-label">
                Sufrimiento Fetal
              </label>
              <select
                class="form-select"
                name="sufrimiento_fetal"
                aria-label="Default select example">
                <option selected value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="problema_cordon_umbilical" class="form-label">
                Problema de cordón umbilical
              </label>
              <select
                class="form-select"
                name="problema_cordon_umbilical"
                aria-label="Default select example">
                <option selected value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>
          </div>


          <div class="row mt-2">
            <div class="col-md-6">
              <label for="poco_fluido_amniotico" class="form-label">
                Poco Fluido Amniotico
              </label>
              <select
                class="form-select"
                name="poco_fluido_amniotico"
                aria-label="Default select example">
                <option selected value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="historial_aborto" class="form-label">
                Historial Aborto
              </label>
              <select
                class="form-select"
                name="historial_aborto"
                aria-label="Default select example">
                <option selected value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>
          </div>


          <div class="row mt-2">
            <div class="col-md-6">
              <label for="hipertension" class="form-label">
                Hipertensión
              </label>
              <select
                class="form-select"
                name="hipertension"
                aria-label="Default select example">
                <option selected value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="hemorragia_anteparto" class="form-label">
                Hemorragia Anteparto
              </label>
              <select
                class="form-select"
                name="hemorragia_anteparto"
                aria-label="Default select example">
                <option selected value="0">No</option>
                <option value="1">Si</option>
              </select>
            </div>
          </div>


          <div class="row mt-2">
            <div class="col-md-6">
              <label for="peso_bebe" class="form-label">
                Peso Bebé
              </label>
              <select
                class="form-select"
                name="peso_bebe"
                aria-label="Default select example">
                <option selected value="1">Bebé Grande</option>
                <option value="2">Peso Ligero</option>
                <option value="3">Normal</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="edad_gestacional" class="form-label">
                Edad Gestacional
              </label>
              <select
                class="form-select"
                name="edad_gestacional"
                aria-label="Default select example">
                <option selected value="1">Post Termino</option>
                <option value="2">Pre Termino</option>
                <option value="3">Bebé a termino</option>
              </select>
            </div>
          </div>





          <div class="row mt-2">
            <div class="col-md-6">
              <label for="salario_empleado" class="form-label">
                PESO
              </label>
              <input
                class="form-control"
                type="text"
                name="salario_empleado"
                id="salario_empleado"
                required />
            </div>

            <!-- <div class="col-md-6">
              <label for="telefono_empleado" class="form-label">
                Telefono
              </label>
              <input
                class="form-control"
                type="tel"
                name="telefono_empleado"
                id="telefono_empleado"
                required />
            </div> -->

            <div class="col-md-6" style="display: none;">
              <label for="" class="form-label">
                CARGAR IMAGEN DEL PACIENTE  
              </label>
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input
                    type="file"
                    name="foto_empleado"
                    id="imageUpload"
                    accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"><i class="bi bi-pen"></i></label>
                </div>
                    <div class="avatar-preview">
                  <div class="avatar-preview">
                    {% set url_avatar= url_for('static', filename
                    ='assets/img/avatar.png') %}
                    <div
                      id="imagePreview"
                      style="background-image: url('{{ url_avatar }}')"></div>
                  </div> 
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
              Guardar registro ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}
